body{
    background-color:#f6f6f6;
}
.container{
    padding: 2px;
}
.content-wrap{width:100%;}

li{
    list-style: none;
}
.clb{clear: both;}
.hid{display: none;}
.mt10{margin-top: 10px;}
.prel{position: relative;}
.pabs{position: absolute;}
.mb15{margin-bottom:15px;}
.pb15{padding-bottom:15px;}

#app .el-checkbox__label{
    white-space: normal;
    vertical-align: text-top;
    font-weight: 500;
    font-size: 16px;
    /* width: 95%; */
}
.padBox30 input{
    padding-left:45px;
}
#app .el-checkbox__inner{
    width: 20px;
    height: 20px;
}
#app .el-checkbox__inner:after{
    /* border: 2px solid #fff; */
    border-left: 0;
    border-top: 0;
    height: 15px;
    left: 4px;
    top: -2px;
    width: 7px;
}
#app .el-dialog__headerbtn .el-dialog__close{
    font-size: 26px;
}
footer{
    clear: both;
}
.particles-js-canvas-el{
    position: absolute;
    top: 100px;
}
.navbar{
    z-index: 101;
}


.subMenu{
    text-align: left;border-bottom: 1px solid #ccc;box-shadow: 1px 0px 7px 0px #ebebeb;background: #fff;
}
.subMenu .active{
    color: #45BCF9;font-weight: 900
}
.subBox{
    /* width: 1002px; */
    margin: 0 auto;
    height: 45px;
    line-height: 45px;
}

.subBox ul{
    display: -webkit-box;
    padding-left: 0;
    overflow-x: auto;
}
.subBox ul li{
    list-style: none;
    display: -webkit-box;
    /* display: inline; */
    padding: 0px 9px;
    font-size: 14px;
}
.subBox a{
    color: #666;
}
.listArticles,.mainCont{
    /* width: 1002px; */
    margin: 0 auto;
}
.mainCont{
    /* width: 1002px; */
    margin: 0 auto;
}
@media (max-width: 768px) {
    #app .navBox{
        width: 100%;
        align-items: flex-start;
    } 
    .container{padding: 0}
    .subMenu{width: auto;}
    .subBox{width: 100%;overflow-y: hidden;}
    #app .el-dialog{
        width: 90%
    }
    .listArticles,.mainCont{
        width:auto;
    }
    .mainCont{
        width:auto;
    }
    #app .navBox{
    width: 100%;
    align-items: top;
  } 
}
#app .el-pagination{
    padding:10px 5px;
}
#app .el-radio{
    white-space: pre-line;
    vertical-align: top;
  }

#app .el-radio__label {
    font-size: 12px;
    padding-left: 10px;
    line-height: 20px;
}
.testPaper .selectBox{
    background: #fff;
}
/* 
.el-radio__input.is-checked+span.el-radio__label{
    color:#67c23a;
}
.is-checked .el-checkbox__input.is-checked+span.el-checkbox__label{
    color:#67c23a;
} */
.selectBox .timuBox .timu .el-checkbox .el-checkbox__inner{
    border-color: #aaa;
}
.el-checkbox__inner:after{
    border-color: #aaa;
}
/* #app .is-checked .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner{
    background: #67c23a;
} */
.searchText{
    font-weight: 900;color: red;
}
.f12{font-size: 12px}.f14{font-size: 14px}.f16{font-size: 16px}.f18{font-size:18px}.f20{font-size:20px}
.bk3{height: 3px;}.bk6{height: 6px}.bk8{height: 8px}.bk10{height: 10px}.bk15{height: 15px}.bk20{height: 20px}.bk30{height: 30px}
